* {
	padding:0px;
	margin:0px;
}

body {
	min-width: 300px;
}

#line {
	width: 100%;
	max-width: 600px;
	height: 1px;
	background-color: black;
	opacity: 0.1;
	margin-bottom: 10px;
}

#top {
	max-width: 600px;
	background-color: #FFFFFF;
	padding-top: 30px;
	padding-left: 30px;
	padding-right: 30px;
	text-align: left;
}

div {
	margin: 0 auto;
}

#top h1 {
	font-family: "Ubuntu", sans-serif;
  	font-weight: 700;
	font-size: 27px;
	color: black;
	background-image: repeating-linear-gradient(45deg, rgba(0, 0, 0, 0.05) 0, rgba(0, 0, 0, 0.05) 1px, transparent 0, transparent 50%);
	background-size: 10px 10px;
	background-color: #ffffff;
	border-bottom: solid 1px rgb(237, 237, 237);
	padding-bottom: 2px;
	padding-right: 8px;
	padding-left: 0px;
	padding-top: 8px;
}

#top p {
	font-family: "EB Garamond", serif;
	font-weight: 400;
	font-size: 19px;
	line-height: 26px;
	padding-bottom: 16px;
}

#top h2 {
	font-family: "Ubuntu", sans-serif;
  	font-weight: 700;
	font-size: 15px;
	line-height: 1.3;
}

#top h2 a {
	color: black;
	text-decoration: none;
	padding-bottom: 1px;
	font-weight: bold;
	border-bottom: solid 1px black;
}

#top h2 a:hover {
	color: rgb(108, 108, 108);
}

#selected-page {
	border-bottom: solid 3px black;
	padding-bottom: 1px;
}

p {
	font-family: "EB Garamond", serif;
	font-size: 16px;
}

a {
	color: inherit;
	text-decoration: underline;
}

a:hover {
	color: rgb(108, 108, 108);
}

h3 {
	font-family: "Ubuntu", sans-serif;
  	font-weight: 700;
	font-size: 16px;
	margin-top: 20px;
	margin-bottom: 10px;
	font-style: italic;
	/* line-height: 1.3; */
}

h2 u {
	text-decoration-thickness: 2px;
}
	
h1 a {
	text-decoration: none;
	font-weight: bold;
}

.grid {
	max-width: 1550px;
	height: 330px;
	margin: 0 auto;
	position: relative;
}

.grid-item {
	width: 150px;
	height: 150px;
	position: relative;
    display: inline-block;
}

.grid-label {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 150px;
	height: 150px;
    background: rgba(255, 255, 255, 0.97);
    color: black;
    text-align: center;
	display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    opacity: 0;
	font-size: 12px;
	font-family: sans-serif;
  }

.grid-item:hover .grid-label {
    opacity: 1;
  }


.grid-maps {
	max-width: 602px;
	margin: 0 auto;
	position: relative;
}

.grid-maps-item {
	width: 195px;
	position: relative;
	border: solid 1px rgb(239, 239, 239);
    display: inline-block;
	margin-bottom: 10px;
}

.grid-maps-item img {
	margin-bottom: -5px;
	width: 195px;
	height: 195px;
}

.grid-maps-label {
	font-family: "Ubuntu", sans-serif;
	font-weight: 400;
	font-style: italic;
	font-size: 12px;
	line-height: 20px;
	padding: 4px;
}

.grid-maps-label a {
	text-decoration: none;
}

@media only screen and (max-width: 650px) {
	.grid-maps {
		max-width: 350px;
		padding-left: 30px;
	}
	.grid-maps-item {
		width: 150px;
	}
	.grid-maps-item img {
		width: 150px;
		height: 150px;
	}
}

@media only screen and (max-width: 1550px) {
	.grid {
		max-width: 1240px;
		margin: 0 auto;
		position: relative;
		}
	}
@media only screen and (max-width: 1240px) {
	.grid {
		max-width: 930px;
		margin: 0 auto;
		position: relative;
		}
	}
@media only screen and (max-width: 930px) {
	.grid {
		max-width: 620px;
		margin: 0 auto;
		position: relative;
		}
}
@media only screen and (max-width: 620px) {
	.grid {
		max-width: 470px;
		margin: 0 auto;
		position: relative;
		}
}
@media only screen and (max-width: 470px) {
	.grid {
		max-width: 310px;
		margin: 0 auto;
		position: relative;
		}
}
@media only screen and (max-width: 310px) {
	.grid {
		max-width: 175px;
		margin: 0 auto;
		position: relative;
		margin: 0 auto;
	}
}


#imgs {
	max-width: 900px; /*was 600px*/
	background-color: #FFFFFF;
	padding-top: 30px;
	padding-left: 30px;
	padding-right: 30px;
	text-align: left;
}

#imgs-big {
	max-width: 1110px; /*was 600px*/
	background-color: #FFFFFF;
	padding-top: 30px;
	padding-left: 30px;
	padding-right: 30px;
	text-align: left;
}

.imgs-grid {
	max-width: 1920px;
	padding-top: 30px;
	padding-left: 30px;
	padding-right: 30px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 1rem;
	justify-items: center;
}

.imgs-grid a {
	width: 100%;
	max-width: 450px;
}

.imgs-grid a img {
	width: 100%;
	height: auto;
	object-fit: cover;
}

.imgs-grid a img:hover {
	opacity: 0.75;
}

#read {
	max-width: 600px; /*was 600px*/
	background-color: #FFFFFF;
}

img {
	opacity: 0.98;
	width: 100%;
	height: 100%;
	/* margin-bottom: 30px; */
}

img:hover {
	opacity: 1;
}

#switch {
	max-width: 600px; /*was 600px*/
	background-color: #FFFFFF;
	padding-top: 0px;
	padding-left: 30px;
	padding-right: 30px;
	margin-bottom: -25px;
	text-align: center;
}

#switch h1 {
	font-family: "Ubuntu", sans-serif;
	font-weight: 700;
	font-size: 24px;
}